<div class="col-md-2 d-none d-md-block sidebar col-lg-3" style="background-color: #364061;  ">
	<div  style="height: 50em; margin-top: 1.2em; background-color: #445175; ">
		<span id="QuickFacts" class="mobile-dropdown-anchor"></span>
		<div class="container--wrap" style="background-color: #445175; border-radius:10px;">
			<p style="color: #DFDFEF; font-size: 30px; text-align: center; padding-top: 15px; font-weight: bolder; margin-bottom: 0;" >
				Quick Facts
			</p>
			<p style="color: #DFDFEF; font-size: 12px; text-align: center; font-weight: bolder; margin-bottom: 0;">
				updated: <i>a few seconds ago</i>
			</p>
			<table>
				<tr>
					<p id="total_cases" style="color: #65DD9B; font-weight: bold; text-align: center; border-bottom: 0; font-size: 50px; margin-bottom: 0px;"></p>
					<p style="color: #DFDFEF; font-size: 18px; font-weight: bold; border-bottom: 0; text-align: center;">Total Confirmed</p>
				</tr>
				<tr>
					<p id="total_deaths"  style="color: #F65164; font-weight: bold; text-align: center; border-bottom: 0; font-size: 50px; margin-bottom: 0px;"></p>
					<p style="color: #DFDFEF; font-size: 18px; font-weight: bold; border-bottom: 0; text-align: center;">
						Total Deceased
					</p>
				</tr>
			</table>
		</div>
	</div>
</div>

<div role="main" class="col-md-9 ml-sm-auto col-lg-9 my-3">
	<!-- Tabs Information -->
	<section id="tabs" class="project-tab">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<nav>
						<div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
							<a class="nav-item nav-link active" id="data-tab" data-toggle="tab" href="#data" role="tab" aria-controls="data" aria-selected="true">Data</a>
							<a class="nav-item nav-link" id="trend-tab" data-toggle="tab" href="#trends" role="tab" aria-controls="trends" aria-selected="false">Trends</a>
							<a class="nav-item nav-link" id="sandbox-tab" data-toggle="tab" href="#sandbox" role="tab" aria-controls="sandbox" aria-selected="false">Sandbox</a>
							<a class="nav-item nav-link" id="maps-tab" data-toggle="tab" href="#maps" role="tab" aria-controls="maps" aria-selected="false">Map</a>
							<a class="nav-item nav-link" id="about-tab" data-toggle="tab" href="#about" role="tab" aria-controls="about" aria-selected="false">About</a>
						</div>
					</nav>
					<div class="tab-content" id="nav-tabContent">
						<div class="tab-pane fade show active" id="data" role="tabpanel" aria-labelledby="data-tab">
							<div class="projects mb-4" style="background-color: #445175; border-radius:10px;">
								<div class="projects-inner">
									<header class="projects-header">
										<div class="title">World COVID-19 Stats </div>
									</header>
								</div>
							</div>

							<table
								id="table"
								class="projects-table" style="overflow-y:auto; background-color:  #445175;"
								data-toolbar="#toolbar"
								data-search="true"
								data-show-toggle="true"
								data-show-columns="true"
								data-show-columns-toggle-all="true"
								data-show-export="true"
								data-sort-name="totalcases"
								data-sort-order="desc"
								data-show-pagination-switch="true"
								data-pagination="false"
								data-page-list="[10, 25, 50, 100, all]"
								data-show-footer="true"
							>
							</table>
						</div>

						<div class="tab-pane fade" id="trends" role="tabpanel" aria-labelledby="trend-tab">
							<iframe src="https://ourworldindata.org/grapher/covid-confirmed-deaths-since-5th-death?time=2020-01-22..2020-04-20&country=USA" style="width: 100%; height: 600px; border: 0px none;"></iframe>

							<script src="https://code.highcharts.com/highcharts.js"></script>
							<script src="https://code.highcharts.com/modules/pareto.js"></script>
							<script src="https://code.highcharts.com/modules/exporting.js"></script>
							<script src="https://code.highcharts.com/modules/export-data.js"></script>
							<script src="https://code.highcharts.com/modules/accessibility.js"></script>
							<figure class="highcharts-figure">
								<div id="container"></div>
							</figure>

							<figure class="highcharts-figure">
								<div id="container2"></div>
							</figure>
						</div>

						<div class="tab-pane fade" id="sandbox" role="tabpanel" aria-labelledby="sandbox-tab"></div>

						<div class="tab-pane fade" id="maps" role="tabpanel" aria-labelledby="maps-tab"></div>

						<div class="tab-pane fade" id="about" role="tabpanel" aria-labelledby="about-tab"></div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<button id="mybutton_newcases" style="display:none">Swap</button>
	<button id="mybutton_deathnewcases" style="display:none">Swap</button>

	<script>
		var counter = 0, arr_newcases = [], i = 0, info_p = "";

		function myData(data) {
			var list = [];
			data.forEach(function(item) {
				list.push({
					country: '<img src="<?php echo base_url('assets/'); ?>flags/'+item.iso_code.toLowerCase()+'.svg" width="25"> ' + item.location, //github.com/rinvex/countries
					newcases: item.new_cases,
					totalcases: item.total_cases,
					newdeaths: item.new_deaths,
					totaldeaths: item.total_deaths,
					lastupdate: new Date(item.date).getDate()+'/'+new Date(item.date).getMonth()+'/'+new Date(item.date).getFullYear() //.toLocaleString()
				});
			});
			return list;
		}

		function myTable(arr) {
			var myTable = $('#table').bootstrapTable({
				height: 1000,
				locale: 'en_US',
				columns: [
					[
						{field:'country', title:'Countries and territories', rowspan:2, align:'left', valign:'middle', footerFormatter:countFormatter},
						{title:'Confirmed infections', colspan:2, align:'center', valign:'middle'},
						{title:'Confirmed deaths', colspan:2, align:'center', valign:'middle'},
					],
					[
						{field:'newcases', title:'New Cases',sortable:true, align:'right', formatter:numberFormatter, footerFormatter:totalFormatter},
						{field:'totalcases', title:'Total Cases',sortable:true, align:'right', formatter:numberFormatter, footerFormatter:totalFormatter},
						{field:'newdeaths', title:'New Deaths', sortable:true, align:'right', formatter:numberFormatter, footerFormatter:totalFormatter},
						{field:'totaldeaths', title:'Total Deaths', sortable:true, align:'right', formatter:numberFormatter, footerFormatter:totalFormatter}
					]
				],
				data: arr
			});
			return myTable;
		}

		function countFormatter(data) {
			return data.length
		}

		function numberFormatter(value, row){
			return value.toLocaleString('en-US');
		}

		function totalFormatter(data) {

			var field = this.field
			var total = data.map(function (row) {
				return row[field]
			}).reduce(function (sum, i) {
				return sum + i
			}, 0);

			counter = counter + 1;

			if (counter == 2){
				$("#total_cases").text(Number(total).toLocaleString('en'));
			}

			if (counter == 4){
				$("#total_deaths").text(Number(total).toLocaleString('en'));
			}

			if (counter == 6){
				$("#total_recovered").text(Number(total).toLocaleString('en'));
			}
			return total.toLocaleString('en-US');
		}

		function newcase_world_chart(data){
			var arr_countries = [];
			data.forEach(function(item) {
				arr_countries.push([item.NewConfirmed]);
			});
			return arr_countries;
		}

		function newdeath_world_chart(data){
			var arr_countries = [];
			data.forEach(function(item) {
				arr_countries.push([item.NewDeaths]);
			});
			return arr_countries;
		}

		$(function() {
			//var url = '<?php echo  base_url('get-covid19-data/dashboard'); ?>';
			//var url = '<?php echo  base_url('get-covid19-data/new_daily_cases'); ?>';
			//var url = '<?php echo  base_url('get-covid19-data/new_daily_deaths'); ?>';

			//var url = 'https://api.covid19api.com/world';

			var url = '<?php echo  base_url('get-covid19-data/new_daily_cases'); ?>';

			axios.get(url).then(function (response) {
				/*
				var rawData_newcases_world = newcase_world_chart(response.data);
				var rawData_newdeath_world = newdeath_world_chart(response.data);
				*/

			$.getJSON(url, function(result){
     			$.each(result, function(i, field){
      				alert(field)
     		});
   		 });

				Highcharts.chart('container', {
					chart: {
						renderTo: 'container',
						type: 'column'
					},
					title: {
						text: 'Daily Cases of COVID-19 (World)'
					},
					tooltip: {
						shared: true
					},
					xAxis: {
						categories: [
							'1',
							'2',
							'3',
							'4',
							'5',
							'6',
							'7',
							'8',
							'9',
							'10',
							'11',
							'12',
							'13',
							'14',
							'15',
							'16',
							'17',
							'18',
							'19',
							'20',
							'21',
							'22',

						],
						crosshair: true
					},
					yAxis: [{
						title: {
							text: ''
						}
					}, {
						title: {
							text: ''
						},
						minPadding: 0,
						maxPadding: 0,
						max: 100,
						min: 0,
						opposite: true,
						labels: {
							format: "{value}%"
						}
					}],
					series: [{
						type: 'pareto',
						name: 'Total New Daily Cases Percentage',
						yAxis: 1,
						zIndex: 10,
						baseSeries: 1,
						tooltip: {
							valueDecimals: 2,
							valueSuffix: '%'
						}
					}, {
						name: 'Total New Daily Cases',
						type: 'column',
						zIndex: 2,
						data: rawData_newcases_world
					}]
				});
				Highcharts.chart('container2', {
					chart: {
						renderTo: 'container',
						type: 'column'
					},
					title: {
						text: 'Daily Deaths of COVID-19 (World)'
					},
					tooltip: {
						shared: true
					},
					xAxis: {
						categories: [
							'1',
							'2',
							'3',
							'4',
							'5',
							'6',
							'7',
							'8',
							'9',
							'10',
							'11',
							'12',
							'13',
							'14',
							'15',
							'16',
							'17',
							'18',
							'19',
							'20',
							'21',
							'22',

						],
						crosshair: true
					},
					yAxis: [{
						title: {
							text: ''
						}
					}, {
						title: {
							text: ''
						},
						minPadding: 0,
						maxPadding: 0,
						max: 100,
						min: 0,
						opposite: true,
						labels: {
							format: "{value}%"
						}
					}],
					series: [{
						type: 'pareto',
						name: 'Total New Daily Deaths Percentage',
						yAxis: 1,
						zIndex: 10,
						baseSeries: 1,
						tooltip: {
							valueDecimals: 2,
							valueSuffix: '%'
						}
					}, {
						name: 'Total New Daily Deaths',
						type: 'column',
						zIndex: 2,
						data: rawData_newdeath_world
					}]
				});

			}).catch(function (error) {
				console.log(error);
			})

			var url = '<?php echo  base_url('get-covid19-data/dashboard'); ?>';
			$.getJSON(url, null, function(data) {
				var rawData = myData(data);
				myTable(rawData);
			});
		});
	</script>

	<!--
	<table class="projects-table" style="overflow-y:auto; background-color:  #445175;">
		<div class="thead">
		<thead >
			<tr>
				<th  style="background-color: #445175;">Name</th>
				<th  style="background-color: #445175;">Confirmed</th>
				<th  style="background-color: #445175;">Changes Today</th>
				<th  style="background-color: #445175;">Critical</th>
				<th  style="background-color: #445175;">Deceased</th>
				<th  style="background-color: #445175;">Changes Today</th>
				<th  style="background-color: #445175;">Recovered</th>
				<th  style="background-color: #445175;">Active</th>
		</thead>
		<tr>
			</div>
			<td>
				<p style="font-size: 1.5em; color: white;">Aruba</p>
			</td>

			<td>
					<p style="color:#65DD9B;">Confirmed</p>
			</td>
			<td class="member">
			<p style="color:#65DD9B;">Changes 2 </p>
			</td>
			<td>
				<p style="color:#FF9D00;">Critical</p>
			</td>
			<td>
					<p style="color:#F65164;">Deceased</p>
			</td>
			<td >
			<p style="color:#F65164;">Changes 2</p>
			</td>
				<td>
			<p style="color:#449BE2;">Recovered</p>
			</td>
				<td>
			<p style="color:#F8F540;">Active</p>
			</td>
		</tr>
	</table>
-->
</div>
